<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- bootstrap導入 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
    
  <body>
    <br>
    <center>
      <font size="5">安全性と利便性を追求した次世代加熱式タバコ。</font>
      <br>
      <font size="5">禁煙をサポートし、急速充電と喫煙トラッキングで</font>
      <br>
      <font size="5">喫煙者のモチベーションを高める。</font>
      <br>
      <font size="5">喫煙の充実と禁煙への一歩を応援します。</font>
      <br>
      <font size="4">Supports smoking cessation and motivates smokers.</font>
      <br>
      <font size="4">Supports smoking enrichment and a step toward smoking cessation.</font>
    <br>
    <br>
    喫煙分析開始ボタンを押して，喫煙開始・終了（年月日 時分秒），吸引回数，銘柄の取得を開始します．
    <form action="/E-Quit" method="post">
        <button type="submit" class="btn btn-primary btn-lg">喫煙分析開始</button>
    </form>
  </center>

    <!-- bootstrap導入 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>